$breakpoints: (
        lg: 1024,
        md: 768,
        sm: 640
) !default; //- размеры экранов
$media-direction: max !default; 

* {
    transition: all 0.3s ease;
}

body {
    color: #212121;
    a { 
        color: #212121;
        &:hover{ 
            color: #212121;
            text-decoration: none;
        }
    }
    min-height:3000px;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
        float: left;
        a {
            padding: 2px;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}

ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
        float: none;
        a {
            padding: 2px;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}

.j-relative {
    position: relative;
}

.j-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.j-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
@media (min-width: 1200px) {
    .j-container {
      max-width: 1170px;
    }
  }


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

header {
    padding-top: 22px;
    padding-bottom: 22px;
    &.fixed {
        background: #fff;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: 10000;
        border-bottom: 2px solid rgba(0,0,0, 0.3); 
        position: fixed;
        padding-top: 10px;
    }
    .logo {
        margin-left: -15px;
        padding: 6px 0;
        float:left;
        img {
            width: 50px;
            vertical-align: text-bottom;
        }
        span {
            margin-left: 8px;
            text-transform: uppercase;
            font-size: 22px;
            font-family: "OpenSans";
            color: rgb(76, 175, 80);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 30px;
            text-align: left;
        }
    }

    nav {  
        float: right;      
        ul {
            li { 
                padding: 4px 5px;
                margin: 0 8px;
                color: #8d8d8d;
                a {
                    color: #8d8d8d;
                    font-size: 18px;
                    transition: border 0s;
                }
                &.active { 
                    border-bottom: 3px solid rgb(76, 175, 80);
                    a {
                        color: rgb(76, 175, 80);
                    }
                }
                &:hover {
                    border-bottom: 3px solid rgb(76, 175, 80);
                    a {
                        color: rgb(76, 175, 80);
                    }
                }
            }
        }
    }
}

.hero {
    position: relative;
    background-color: #cecece;
    min-height: 628px;
    .slider {
        overflow: hidden;
        position: relative;
        height: 628px;
        .slider-collection {
            height: 100%;
        }
        .slider-item {
            color: white;
            // display: none;
            transition: all 1s ease;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            .j-relative {
                height: 100%;
                overflow: hidden;
            }
            &.active {
                transition: all 1s ease;
                opacity: 1;
                z-index: 1;
                .main-text {
                    opacity: 1;
                    // transition: all 0s;
                    text-transform: uppercase;
                    font-weight: 700; 
                    margin-top: 185px;
                    position: static;
                    transform: none;
                    span {
                        margin-top: 185px;
                        font-size: 35px;
                    }
                }
                .sub-text {
                    opacity: 1;
                    // transition: all 0s;
                    margin-top: 10px;
                    line-height: 11px;
                    position: static;
                    transform: none;
                    span {
                        font-size: 11px;
                    }
                }
                .slider-button {
                    opacity: 1;
                    // transition: all 0s;
                    margin-top: 40px;
                    font-size: 18px;
                    font-weight: bold;
                    position: static;
                    transform: none;
                    a {
                        color: #ffffff;
                        padding: 14px 31px;
                        background-color: #4caf50;
                        display: inline-block;
                        border:2px solid #4caf50;
                        &:hover {
                            background: rgba(255, 255, 255, 0.8);
                            color: #4caf50;
                        }
                    }
                }
                // display: block;
            }
            .overlay {
                opacity: 0.3;
                background: #000;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            img.slider-image {
                position: absolute;
                z-index: 0;
                right: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
            .main-text {
                // transition: all 0s;
                text-transform: uppercase;
                font-weight: 700; 
                margin-top: 185px;
                transform: translateY(30px);
                opacity: 0;
                span {
                    margin-top: 185px;
                    font-size: 35px;
                }
            }
            .sub-text {
                // transition: all 0s;
                margin-top: 10px;
                line-height: 11px;
                transform: translateY(30px);
                opacity: 0;
                span {
                    font-size: 11px;
                }
            }
            .slider-button {
                // transition: all 0s;
                margin-top: 40px;
                font-size: 18px;
                font-weight: bold;
                transform: translateY(30px);
                opacity: 0;
                a {
                    color: #ffffff;
                    padding: 14px 31px;
                    background-color: #4caf50;
                    display: inline-block;
                    border:2px solid #4caf50;
                    &:hover {
                        background: rgba(255, 255, 255, 0.8);
                        color: #4caf50;
                    }
                }
            }
        }
        .paging {
            position: absolute;
            bottom: 60px;
            left: -15px;
            color: white;
            z-index: 2;
        }
        .slide-arrow {
            z-index: 2;
            display: inline-block;
            padding: 5px;
            height: 50px;
            width: 50px; 
            text-align: center;
            font-size: 50px;
            line-height: 50px;
            top: 50%;
            position: absolute;
            color: white;
            &.slide-left {
                left: 10px;
                transform: translate(calc(-100% - 10px), -50%);
            }
            &.slide-right {
                right: 10px;
                transform: translate(calc(100% + 10px), -50%);
            }
            &:hover {
                // border: 2px solid white;
                color: rgb(172, 172, 172);
            }
        }

        &:hover {
            .slide-arrow {
                &.slide-left {
                    transform: translate(0, -50%);
                }
                &.slide-right {
                    transform: translate(0, -50%);
                }
            }
        }
    }
}

.service {
    overflow: hidden;
    text-align: center;
    min-height: 648px;
    .header-text {
        .top {
            margin-top: 76px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .main {            
            font-size: 46px;
            line-height: 46px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Lora";
        }
    }
    .subtext {
        margin: 10px 186px;
    }
    .setups {
        margin: 0 -15px;
        .item {
            width: 25%;
            float: left;
            padding: 90px 15px;
            .header {
                margin-top: 40px;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .setup-info {
                font-size: 14px;
                margin-top: 16px;
            }
        }
    }
}

.about {
    padding-top: 3px;
    height: 717px;
    background-color: #fafafa;
    position: relative;
    width: 100%;
    background-image: url(../../assets/img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    .background {
        margin-top: -3px;
        width: 100%;
        text-align: center;
        position: absolute;
        /* z-index: 1; */
        img {
            width: 1920px;
            height: 717px;
            /* z-index: 0; */
            /* position: relative; */
        }
    }
    .brown {
        background-image: url(../../assets/img/workspace.png);
        // background-color: #bda87f;
        width: calc(50% - 37px);
        z-index: 2;
        position: absolute;
        top: 3px;
        bottom: 0;
        left: 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content {
        margin-left: 600px;
        .title {
            margin-top: 200px;
            .top {
                font-size: 16px;
                text-transform: uppercase;
            }
            .main {
                font-size: 36px;
                line-height: 36px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        .body {
            margin-top: 36px;
            font-size: 20px;
        }
        .buttons {
            margin-top: 50px;
            span {
                transition: all 0s;
            }
            .button {
                display: inline-block;
                font-size: 18px;
                line-height: 18px;
                padding: 17px 25px 17px 20px;
                background-color: #4caf50;
                border: 2px solid #4caf50;
                color: white;
                text-transform: uppercase;
                font-weight: 700;
                margin-right: 15px;
                &:hover {
                    background: none;
                    color: #4caf50;
                }
            }
            .button-reverse {
                background: none;
                color: #4caf50;
                &:hover {
                    background-color: #4caf50;
                    color: white;
                }
            }
        }
    }
}

.works {
    padding: 100px 0 70px 0;
    .title {
        font-weight: 700;
        text-transform: uppercase;
        // margin-top: 70px;
        .sub-title {
            font-size: 13px;
            line-height: 13px;
        }
        .main {
            font-size: 34px;
            line-height: 34px;
            margin-top: 12px;
        }
    }
    .content {
        margin-top: 75px;
        .sidebar {
            width: 20%;
            float: left;
            ul.vertical {
                font-size: 12px;
                line-height: 12px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                text-transform: uppercase;
                font-weight: bold;
                li {
                    transition-property: border-width 0s;
                    transition-property: padding 0.3s;
                    padding: 6px 30px;
                    float: none;
                    box-sizing: border-box;
                    margin-bottom: 12px;
                    &.active {
                        border-left: 5px solid #4caf50;
                        padding-left: 25px;
                        color: #4caf50;
                    }
                    &.more {
                        margin-top: 88px;
                    }
                    &:hover {
                        border-left: 5px solid #4caf50;
                        padding-left: 37px;
                        color: #4caf50;
                    }
                }
            }
        }

        .work-items {
            transition: initial;
            padding: 0 10px;
            width: 80%;
            float: left;
            .item {
                transition: initial;
                margin-bottom: 30px;
                float: left;
                padding: 10px;
                background: white;
                box-shadow: 5px 5px 2px #aeaeae63;
            }
        }
    }
}

.demo {
    transition: all 0s;
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: rgba(0,0,0, 0.3);
    background: url(../../assets/img/greenPepper.jpg) 50% 0 repeat fixed;
    background-size: cover;
    color: white;
    img {
        height: 1000px;
        width: auto;
        min-width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        top: 0;
    }
    .title {
        margin-top: 230px;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: 700;
        .green-text {
            color: #4caf50
        }
    }
    .buttons {
        margin-top: 50px;
        span {
            transition: all 0s;
        }
        .button {
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            padding: 17px 25px 17px 20px;
            background-color: #4caf50;
            border: 2px solid #4caf50;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            margin-right: 15px;
            &:hover {
                background: none;
                color: #4caf50;
            }
        }
        .button-reverse {
            background: none;
            color: #4caf50;
            &:hover {
                background-color: #4caf50;
                color: white;
            }
        }
    }

}

.features {
    padding: 100px 0;
    .title{
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 100px;
        // margin-top: 70px;
        .sub-title {
            font-size: 13px;
            line-height: 13px;
        }
        .main {
            font-size: 34px;
            line-height: 34px;
            margin-top: 12px;
        }
    }
    .feature-items {
        margin-right: -15px;
        margin-left: -15px;
        .item {
            padding-right: 15px;
            padding-left: 15px;
            width: 33.3%;
            float: left;
            margin-bottom: 55px;
            .logo {
                height: 70px;
                width: 70px;
                background-color: black;
                border-radius: 100%;
                line-height: 70px;
                font-size: 35px;
                color: white;
                text-align: center;
                float: left;
            }
            .content {
                .title {
                    margin-left: 100px;
                    font-size: 17px;
                    margin-bottom: 10px;
                }
                .text {
                    margin-left: 100px;
                    font-size: 13px;
                }
            }
            &:hover {
                .logo {
                    background-color: #4caf50;
                }
                .content {
                    .title {
                        color: #4caf50;
                    }
                }
            }
        }
    }
    
}

.testimonial {
    height: 690px;
    .j-container {
        height: 100%;
    }    
    .overflow-creator {
        overflow: hidden;
        position: relative;
        margin-left: -70px;
        margin-right: -70px;
        padding-left: 70px;
        padding-right: 70px;
        height: 100%;
    }
    .testimonial-collection {
        height: 100%;
        position: relative;
        width:100%;
        .item {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            &.active {
                z-index: 1;
                opacity: 1;
            }
        }
    }
    .icon {
        position: absolute;
        left: -70px;
        top: -80px;
        z-index: -1;
    }
    .person {
        position: absolute;
        right: 70px;
        bottom: 0;
    }
    .text {
        z-index: 2;
        position: relative;
        width: 55%;
        margin-top: 15%;
        font-size: 18px;
        margin-bottom: 60px;
    }
    .person-info {
        .name {
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }
        .position {
            font-size: 15px;
        }
    }
    .navigation {
        transition: all 0s;
        margin: 50px 0;
        position: absolute;
        bottom: 200px;
        z-index: 2;
        ul.horizontal {
            overflow: visible;
            li {
                transition: all 0s;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                background-color: #b9baba;
                margin-right: 20px;
                &.active {
                    background-color: #4caf50;
                    height: 20px;
                    width: 20px;
                    margin-top: -5px;
                    margin-right: 15px;
                    margin-left: -5px;
                }
                &:hover {
                    background-color: #4caf50;
                    height: 20px;
                    width: 20px;
                    margin-top: -5px;
                    margin-right: 15px;
                    margin-left: -5px;
                }
            }
        }
    }
}

.partners {
    background-color: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 100px;
    .title{
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 70px;
        .sub-title {
            font-size: 13px;
            line-height: 13px;
        }
        .main {
            font-size: 34px;
            line-height: 34px;
            margin-top: 12px;
        }
    }
    .frame {
        position: relative;
        overflow: hidden;
        height: 150px;
    }
    .partner-items {
        font-size: 0;
        margin-right: -15px;
        margin-left: -15px;
        white-space: nowrap;
        .item {
            padding-right: 15px;
            padding-left: 15px;
            width: 25%;
            display: inline-block;
            &:hover {
                filter: invert(100%);
            }
            // float: left;
            .whiteboard {
                height: 120px;
                width: 100%;
                text-align: center;
                background: white;
                .helper {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
                img {
                    vertical-align: middle;
                    max-height: 120px;
                    max-width: 269px;
                }
            }
        }
    }


    .navigation {
        margin-top: 50px;
        ul.horizontal {
            overflow: visible;
            float: right;
            li {
                height: 10px;
                width: 10px;
                border-radius: 100%;
                background-color: #b9baba;
                margin-left: 20px;
                float: left;
                &.active {
                    background-color: #4caf50;
                    height: 20px;
                    width: 20px;
                    margin-top: -5px;
                    margin-left: 15px;
                    margin-right: -5px;
                }
                &:hover {
                    background-color: #4caf50;
                    height: 20px;
                    width: 20px;
                    margin-top: -5px;
                    margin-left: 15px;
                    margin-right: -5px;
                }
            }
        }
    }
}

.call-us {
    padding-top: 100px;
    padding-bottom: 100px;
    .additional-container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .text {
        float: left;
        text-transform: uppercase;
        .call {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 17px;
        }
        .enjoy {
            font-size: 17px;
            line-height: 17px;
        }
    }
    .button {
        float: right;
        text-transform: uppercase;
        a {
            color: white;
            padding: 15px 30px;
            background: #4caf50;
            border: 2px solid #4caf50;
            font-weight: bold;
            display: block;
            margin-top: 15px;
            &:hover {
                background: none;
                color: #4caf50;
            }
        }
    }
}

footer {
    background-image: url(../../assets/img/logo-overlay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #18191b;
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 30px;
    .copyright {
        margin-left: -15px;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .footer-sections {
        margin-left: -15px;
        margin-right: -15px;
    }
    .logo {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        margin-bottom: 55px;
        img {
            filter: invert(100%);
            height: 26px;
        }
    }
    .item {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
        float: left;
        &:nth-last-child(2) {
            margin-right: 0;
        }
        .line {
            margin-bottom: 15px;
            .icon {
                float: left;
                width: 15px;
                margin-right: 15px;
            }
            .info {
                float: left;
            }
            &.social {
                transition: all 0s;
                margin-top: 25px;
                a {
                    transition: all 0s;
                    height: 18px;
                    width: 18px;
                    font-size: 18px;
                    line-height: 18px;
                    margin-right: 12px;
                    color: #bebebf;
                    &:hover {
                        transition: all 0s;
                        color: white;
                    }
                }
            }
        }
        nav {
            .line {
                margin-bottom: 0;
                a {
                    color: white;
                    &:hover {
                        color: #bebebf
                    }
                }
            }
        }
        .footer-nav {
            padding-left: 60px;
        }
        &.subscribe {
            .title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 19px;
                margin-bottom: 9px;
            }
            .info {
                margin-bottom: 9px;
            }
            .email-bar {
                input {
                    background: none;
                    box-shadow: none;
                    border: 1px solid white;
                    outline: none;
                    color: white;
                    padding: 7px 7px 7px 17px;
                    font-size: 15px;
                    line-height: 15px;
                    display: inline-block;
                    &::placeholder {
                        color: white;
                    }
                }
                a.subscribe-send {
                    text-align: center;
                    display: inline-block;
                    background: white;
                    font-size: 20px;
                    line-height: 15px;
                    padding: 11px 16px;
                    border: 2px solid white;
                    margin-left: -8px;
                    &:hover {
                        padding-left: 20px;
                        padding-right: 12px;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}

.grid-sizer {
    width: 290px;
}

